.registration__page {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form__position {
    padding: 10px;
    display: flex;
    /*justify-content: center;*/
    /*align-content: center;*/
}

.form__width {
    width: calc(var(--index) * 13);
}

.form__size {
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 18);
}

.form__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form__flex-justify {
    display: flex;
    justify-content: center;
}

